<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Regression">

            <parameter name="email" value="SBB99@gmail.com"/>
            <parameter name="password" value="Test@123"/>
            <parameter name="firstName" value="SBB99"/>
            <parameter name="lastName" value="Test"/>
            <parameter name="inviteImageName" value="WORLD STARS"/>

                    <classes>
                        <class name="Basics.invite"/>
                    </classes>


    </test>





</suite>